@font-face {
    font-family: myFirstFont;
    src: url(./bootstrap-icons-1.6.1/fonts/ShipporiAntiqueB1-Regular.ttf);
  }
  
  body {
    font-family: myFirstFont;
    background-color: #f8f9fa;
  }


.app_container{
    display: flex;
    flex-direction: row;
   
}
.app_link{
    width: 122px;
    height: 160px;
    border-radius: 5px;
    background-color: #f8f9fa;
    padding: 10px;
    margin: 10px;
 
}
.app_link:hover{
    background-color: rgba(235, 224, 245, 0.466);
    border: solid #eee 1px;
    border-radius: 5px;
    cursor: pointer;
}

.link_img{
    width: 80px;
    margin-bottom: 5px;
}

label{
    color: #ced4da;
}

.app-object{
    width: 84px;
    
}

div.app-object {
    position: relative }

div.app-object p {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.violet_svg{
    color: blueviolet;
}

svg :hover{
    fill: rgb(153, 90, 211)
}

.Done{
    background-color: green;
    color: white;
    border-radius: 5px;
    border: solid rgb(39, 77, 2) 1px;
    padding: 0 5px 0 5px;
}

.Notyet{
    background-color: rgb(198, 211, 198);
    color: rgb(24, 23, 23);
    border-radius: 5px;
    border: solid rgb(56, 58, 54) 1px;
    padding: 0 5px 0 5px;
}

.Inproccess{
    background-color: rgb(223, 64, 37);
    color: white;
    border-radius: 5px;
    border: solid rgb(61, 21, 2) 1px;
    padding: 0 5px 0 5px;
}

.size_note{
    width:15px;
    height: 15px;
    border-radius: 50%;
 }
 
 .con-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
 }
 
 .con-avatar-lg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
 }

 .input-btn-r {
    border-radius: 2px 0 0 2px ;
}
#login-row #login-column #login-box{
    margin-top: 50px;
    max-width: 500px;
    height: auto;
    border-radius: 15px;
    background-color: rgba(241, 237, 237, 0.363);
    backdrop-filter: blur(2px) saturate(30%);
    padding: 20px;
  }
.small-txt{
    font-size: 12px;
}

body, html{
    height: 100%;
}
.back_img{
    background-image: url("../images/back/back.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-box-light{
    margin-top: 10px;
    max-width: auto;
    height: auto;
    border-radius: 15px;
    background-color: rgba(241, 237, 237, 0.486);
    backdrop-filter: blur(2px) saturate(30%);
    padding: 20px;
  }

