.color1
{

   background-color:#f86262;
  

}
.color2
{

   background-color:#4c8dbe;
  

}
.color3
{

   background-color:#60f73a;
 

}
.color4
{

   background-color:#F5DDB7;


}
.color5
{

   background-color:#FAE5DD;


}
.color6
{

   background-color:#EDCCEC;
  

}
.color7
{

   background-color:#ff9900;


}
.color8
{

   background-color:#25cfdb;
  

}
.color9
{

   background-color:#FABFD1;


}
.color10
{

   background-color:#74df72;
 

}
.color11
{

   background-color:#cfb20a;


}
.color12
{

   background-color:#FED7AE;
 

}
