{% extends "base.html" %} {% block title %}Contacts{% endblock %} {% block content %}
    
<br/>
<button class="btn btn-primary" data-toggle="modal" data-target="#newcontact">New contact</button>
<h1 align="center">Contacts</h1>
<table class="table table-hover" id="contacts">
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Phone Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for contact in user.contacts %}
    <tr class="success">
      <td>
          {% if 5 == 5 %}
              <p><img src="../static/uploads/bd.jpg" class="con-avatar"> {{ contact.name }} {{ contact.sname }}</p>
          {% else %}
              <p data-letters="{{ contact.name[0] }}">{{ contact.name }} {{ contact.sname }}</p>    
          {% endif %}
      </td>
      <td>{{ contact.pnumber}}</td>
      <td>
        <a href="/contact-edit/{{ contact.id }}" class="btn btn-secondary" 
           data-toggle="modal" data-target="#editcontact{{ contact.id }}">edit</a>
        <button 
          type="button" 
          class="btn btn-outline-danger" 
          onClick="deleteContact({{ contact.id }})">delete
        <span aria-hidden="true" class="bi bi-trash" style="color: red;"></span>
      </button></td>
    </tr>

    <!--Update contact Modal -->
    <div class="modal fade" id="editcontact{{contact.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Contact</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="{{ url_for('views.contact_update')}}">
              <label for="first_name">Name</label>
              <input type="hidden" value="{{contact.id}}" name="contact_id">
              <input 
                    type="text" 
                    name="name" 
                    id="name" 
                    class="form-control"
                    placeholder="Name" 
                    value="{{ contact.name }}"
                />
              <label for="last_name">Surname</label>
              <input 
                    type="text" 
                    name="sname" 
                    id="sname" 
                    class="form-control" 
                    placeholder="Surname"
                    value="{{ contact.sname }}"
                />
                <div class="form-group">
                  <label for="avatar">Photo</label><br>
                  <input
                    type="file"
                    class="btn btn-outline-info"
                    id="avatar"
                    name="avatar"
                    >
                </div>
                <label for="pnumber">Phonenumber</label>
                <input 
                    type="text" 
                    name="pnumber" 
                    id="pnumber" 
                    class="form-control"
                    placeholder="Phone number"
                    value="{{ contact.pnumber }}"
                  />
                  <br />
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update & Close</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </form>
          </div>
        </div>
      </div>
    </div>

    
    {% endfor %}
  </tbody>
</table>
<hr color=#eee>

<!--New contact Modal -->
<div class="modal fade" id="newcontact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          <label for="first_name">Name</label>
          <input 
                type="text" 
                name="name" 
                id="name" 
                class="form-control"
                placeholder="Name" 
            />
          <label for="last_name">Surname</label>
          <input 
                type="text" 
                name="sname" 
                id="sname" 
                class="form-control" 
                placeholder="Surname"
            />
            <div class="form-group">
              <label for="avatar">Photo</label><br>
              <input
                type="file"
                class="btn btn-outline-info"
                id="avatar"
                name="avatar"
                >
            </div>
            <label for="pnumber">Phonenumber</label>
            <input 
                type="text" 
                name="pnumber" 
                id="pnumber" 
                class="form-control"
                placeholder="Phone number"
              />
              <br />
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add contact</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </form>
      </div>

    </div>
  </div>
</div>
{% endblock %}
    