{% extends "base.html" %} {% block title %}Home page{% endblock %} {% block content
    %}
    <h3 align="center">Your Dashboard</h3>

    {% for user in users %}
        
    {% endfor %}
    <div class="app_container">
        
        <div class="app_link">
            <object data="../static/css/bootstrap-icons-1.6.1/list-task.svg" class="app-object violet_svg"> </object>
            <a href="/todo"><button class="btn btn-light">To Do</button></a>
        </div>
        
        <div class="app_link">
            <object data="../static/css/bootstrap-icons-1.6.1/pen-fill.svg" width="60" class="violet_svg" width="90" height="90"> </object>
            <a href="/notes"><button class="btn btn-light">Notes</button></a>
        </div>
    
        <div class="app_link">
            <object data="../static/css/bootstrap-icons-1.6.1/person-fill.svg" class="app-object violet_svg"> </object>
            <a href="/contacts"><button class="btn btn-light">Contacts</button></a>
        </div>

    </div>
    
    
    

    {% endblock %}
    