{% extends "base.html" %} {% block title %}Notes{% endblock %} {% block content
%}
<br>
<button class="btn btn-primary" data-toggle="modal" data-target="#newnote">Add note</button>
<h1 align="center">Notes</h1>
<table class="table table-hover" id="contacts">
  <thead>
    <tr>
      <th>Note</th>
      <th>Date</th>

      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for note in user.notes %}
    <tr class="success">
      <td>
        <div class="size_note {{ note.color }} d-block"></div>
        <button class="btn btn-light d-inline" style="margin-left: 100px;" data-toggle="modal" data-target="#shownote{{ note.id }}">{{ note.title}}</button></td>
      <td>{{ note.date }}</td>
      <td>
        <button 
          class="btn btn-primary bi bi-pen"
          style="color: white;" 
          title="edit"
          data-toggle="modal" 
          data-target="#mymodal{{ note.id }}"
          >edit
      </button>
        <button 
          type="button" 
          class="btn btn-outline-danger" 
          onClick="deleteNote({{ note.id }})">delete
        <span aria-hidden="true" class="bi bi-trash" style="color: red;" title="delete"></span>
      </button></td>
    </tr>

    <!--  Update note Modal -->
    <div class="modal fade" id="mymodal{{ note.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Note</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           
            <form action=" url_for('note_update') " method="POST">
              <label for="title">Title</label>
              <input type="text" placeholder="title" id="title" name="title" value="{{note.title}}">
              <input type="hidden" name="id" value="{{note.id}}">
              <br>
              <label for="note_data">Description</label>
              <textarea 
                class="form-control" 
                name="note_data" id="note_data">{{ note.data }}
              </textarea>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!--show note Modal -->
    <div class="modal fade" id="shownote{{ note.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ note.title }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="border-left border-info" style="padding-left: 10px;">
                {{ note.data }}
            </div>        
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </tbody>
</table>


<!--New note Modal -->
<div class="modal fade" id="newnote" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          <label for="title">Title</label>
          <input type="text" placeholder="title" id="title" name="title">
          <br>
          <label for="note">Description</label>
          <textarea name="note" id="note" class="form-control"></textarea>
          <br />
          <div align="center">
            <button type="submit" class="btn btn-primary">Add Note</button>
          </div>
        </form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>






{% endblock %}
