{% extends "base.html" %} {% block title %}ToDo{% endblock %} {% block content
    %}
    <h1 align="center">ToDo</h1>
    <table class="table table-hover" id="contacts">
      <thead>
        <tr>
          <th>ToDo</th>
          <th>Current</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for todo in user.todos %}
        <tr class="success">
          <td>{{ todo.task}}</td>
          <td>{{ todo.current}}</td>
          <td>{{ todo.date}}</td>
          <td><button 
              type="button" 
              class="close" 
              onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
          </button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add ToDo</button>
      </div>
    </form>
    {% endblock %}
    